<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="ru">

<head>
    <meta charset="UTF-8"/>
    <title>My app</title>
</head>

<body>
<p>Какую операцию вы хотите выполнить?</p>
<br/>
<a th:href="@{'/add-menu/?id=' + ${dictionaryId}}">Добавление пары</a>
<br/>
<a th:href="@{'/search-menu/?id=' + ${dictionaryId}}">Поиск пары по ключу</a>
<br/>
<a th:href="@{'/remove-menu/?id=' + ${dictionaryId}}">Удаление пары</a>
<br/>
<a th:href="@{'/action/read/?id=' + ${dictionaryId}}">Показать содержимое словаря</a>
<br/>

<a href="index.jsp">Вернуться к выбору словаря</a>
</body>

</html>