<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Adding</title>
</head>

<body>
<form action="/action/add" method="post">
    <div id="id" th:text="${dictionaryId}">Словарь</div>
    <p>Введите ключ и значение</p>

    <div>
        <p>Ключ</p>
        <input type="text" id="key" name="key" value=""/>
    </div>

    <div>
        <p>Значение</p>
        <input type="text" id="value" name="value" value=""/>
    </div>
    <br/>
    <div>
        <button id="dictionaryId" name="dictionaryId" value="">Добавить пару</button>
    </div>

    <script>
        document.getElementById('dictionaryId').setAttribute("value",document.getElementById("id").innerText);
    </script>
</form>
</body>
</html>