<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="ru">

<head>
    <meta charset="UTF-8"/>
    <title>Action</title>
</head>

<body>
<p>Какую операцию вы хотите выполнить?</p>
<br/>
<a th:href="@{'/menu-controller/action-menu/?dictionaryId=' + ${dictionaryId} + '&action=add_menu'}">Добавление пары</a>
<br/>
<a th:href="@{'/menu-controller/action-menu/?dictionaryId=' + ${dictionaryId} + '&action=search_menu'}">Поиск пары по ключу</a>
<br/>
<a th:href="@{'/menu-controller/action-menu/?dictionaryId=' + ${dictionaryId} + '&action=remove_menu'}">Удаление пары</a>
<br/>
<a th:href="@{'/action/read/?dictionaryId=' + ${dictionaryId}}">Показать содержимое словаря</a>
<br/>

<a href="/index.jsp">Вернуться к выбору словаря</a>
</body>

</html>