
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Searching</title>
</head>

<body>
<form action="/action/search" method="get">
    <div id="id" th:text="${dictionaryId}">Словарь</div>
    <p>Введите ключ</p>

    <div>
        <p>Ключ</p>
        <input type="text" id="key" name="key" value=""/>
    </div>

    <br/>
    <div>
        <button id="dictionaryId" name="dictionaryId" value="">Найти пару</button>
    </div>

    <script>
        document.getElementById('dictionaryId').setAttribute("value",document.getElementById("id").innerText);
    </script>
</form>
</body>
</html>